*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 24px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #ebedf0;
    font-family: 'Archivo', Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

/*  general */

main {
    padding-bottom: 40px;
}

.container-fluid {
    width: 100%;
    max-width: 1200px;
}

p { 
    margin: 0 0 16px;
}

img {
    width: 100%;;
}

.text-center {
    text-align: center;
}

/*  header */ 

header {
    padding: 24px 0;
    color: #FFFFFF;
    background-color: #1a1a1a;
    margin-bottom: 56px;
}

header p.year {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 8px;
}

header h1 {
    font-family: 'DSG Sans', 'Archivo', Arial, sans-serif;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;
}


/* chart */

#chartdiv {
    width: 100%;
    height: 475px;
}

/*  main content */

.card {
    color: #1a1a1a;
    background-color: #FFFF;
    border: 1px solid #c7cdd2;
    border-radius: 6px;
    padding: 24px;
    margin: 0;
}

.card h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
}

.col-lg-6 {
    padding-bottom: 24px;
}


p.sub {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 24px;
}

#main-recap .card {
    height: 100%;
}

#highlights .highlight-tab-container {
    margin-bottom: 24px;
}
  
#highlights ul {
    margin: 0;
    padding: 0 0 0 16px;
}

#highlights ul li{
    list-style-type: disc;
    padding: 0 0 16px;
}

#highlights ul ul {
    margin: 0;
    padding: 0 0 0 24px;
}

#highlights ul ul li {
    padding: 0 0 10px;
}

#highlights ul ul li:last-of-type {
    padding: 0 0 16px;
}


#highlights button {
    color: #1a1a1a;
    padding: 8px;
    margin: 0;
    margin-bottom: 8px;
    margin-right: 4px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
}

#highlights button:hover {
    transition: .25s;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%); 
    -o-transform: translateY(-20%);
    -ms-transform: translateY(-20%); 
    
}

#highlights .btn-active {
    transition: .25s;
}

#highlights .btn-aem {
    color: #FFFFFF;
    background-color: rgba(12, 37, 68, 1);
}

#highlights .btn-aem.btn-active {
    background-color: rgba(12, 37, 68, .85);
}

#highlights .btn-display {
    background-color: rgba(185, 211, 241, 1);
}

#highlights .btn-display.btn-active {
    background-color: rgba(185, 211, 241, .85);
}

#highlights .btn-foundations {
    background-color: rgba(211, 134, 53, 1);
}

#highlights .btn-foundations.btn-active {
    background-color: rgba(211, 134, 53, .85);
}

#highlights .btn-phx {
    background-color: rgba(89, 151, 226, 1);
}

#highlights .btn-phx.btn-active {
    background-color: rgba(89, 151, 226, .85);

}

#highlights .btn-ux {
    background-color: rgba(100, 168, 154, 1);
}

#highlights .btn-ux.btn-active {
    background-color: rgba(100, 168, 154, .85);
}

.highlight-group {
    display: none;
}

.highlight-group-active {
    display: block;
}


.card-stat {
    margin: 0 0 16px;
}

.card.card-stat p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.card.card-stat p.stat {
    font-weight: bold;
}

.card.card-stat .num {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 12px;
}

.card.card-stat p {
    margin: 0 0 12px;
}

.card.card-stat p:last-child {
    margin: 0;
}

footer {
    text-align: center;
    padding: 16px;
    color: #FFFFFF;
    background-color: #1a1a1a;
}




